<section class="container container-about">
    <div class="row">
        <div class="col-md-12">
            <h1>Giới thiệu</h1>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
                HDAudioVN - Hải Dương Audio chuyên bán các thiết bị âm thanh giải trí gia đình (loa vi tính 2.0, 2.1, 4.1, 5.1, loa kẹo kéo, loa di động, loa bluetooth, tai nghe)
            </p>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
                <a href="https://www.facebook.com/HDAudioVN/" target="_blank">Facebook</a>
				<a href="https://shopee.vn/haiduong2623" target="_blank">Shopee</a>
				<a href="https://www.youtube.com/channel/UC2Qg_3UH8A6iD4sK5zQZGLA" target="_blank">Youtube</a>
            </p>
        </div>
    </div>
</section>